<!-- <div class="container">
    <div class="row ">
        <div class="center text-uppercase">
            <p class="text-justify font-weight-bold">Designed and Developed by &copy Suyog A Bankar</p>
        </div>
    </div>
</div> -->

<!-- <footer class="footer">
    <blockquote class="blockquote text-center mt-4 mb-4">
        <footer class="blockquote-footer mb-0 mt-3">Designed and Developed by | {{date | date:'yyyy' }} &copy; <strong>Suyog A Bankar</strong> <cite title="Source Title"> | <a class="button " href="https://github.com/iamsuyogbankar" target="_blank"> Github Acc.</a> </cite></footer>
    </blockquote>
</footer> -->

<!-- <div class="social-footer">
    <ul>
        <li>
            <a class="github" target="_blank" rel="noopener noreferrer"
                href="https://github.com/anamritraj/livecovid.in-webapp"><img src="/static/media/github.3e57036b.svg"
                    alt="github share icon">Contribute on Github</a>
        </li>
        <li>
            <a class="telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/livecovidin"><img
                    src="/static/media/telegram.9cc379bb.svg" alt="telegram join">Join on Telegram</a>
        </li>
        <li>
            <a class="twitter" target="_blank" rel="noopener noreferrer"
                href="https://twitter.com/share?text=Covid-19 India provides the latest state-wise updates on the spread of the coronavirus in India. Stay Informed. Stay Inside!&amp;url=https://livecovid.in"><img
                    src="/static/media/twitter.9d465b2c.svg" alt="twitter share icon">Share on Twitter</a>
        </li>
    </ul>
</div> -->