<div class="container">
    <div class="row">
        <div class="heading">
            <h3><strong>COVID-19 Coronavirus - Symptoms</strong></h3>
            <span>There's Currently no Vaccine to Prevent Coronavirus Disease (COVID-19).</span>
        </div>
    </div>
</div>
<div class="container flex-container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card card-1">
                <div class="card-body">
                    <div class="alert alert-danger alert-icon">
                        <!-- <em class="icon ni ni-help-alt"></em> -->
                        <strong class="text-justify">If you develop a fever, cough, and have difficulty breathing,
                            promptly seek medical care.
                            Call in advance and tell your health provider as soon as possible for medical advice.
                        </strong>
                    </div>
                    <div class="symptoms mt-4 mb-2">
                        <h3 class="text-primary"><strong> Symtoms of Coronavirus </strong></h3>
                        <p class="text-justify">The most common symptoms of COVID-19 are <strong> fever, tiredness, and
                                dry cough.</strong> Some patients may have aches and pains, nasal congestion, runny
                            nose, sore throat or diarrhoea. These symptoms are usually mild and begin gradually. Also
                            the <strong> symptoms may appear 2-14 days </strong> after exposure.</p>
                        <h3 class="mt-4 mb-4">Major & Common Symptoms</h3>
                        <div class="symptoms-details">
                            <div class="row mb-5">
                                <div class="col-xl-4 ">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-symptom-fever.png"
                                        alt="symptoms" width="130px" height="130px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>Fever</strong>
                                    <p class="text-justify">High Fever – this means you feel hot to touch on your chest
                                        or back (you do not need to measure your temperature). It is a common sign &
                                        also may appear in 2-10 days if affected.</p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-xl-4">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-symptom-cough.png"
                                        alt="cough" width="130px" height="130px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>Cough</strong>
                                    <p class="text-justify">
                                        Continuous cough – this means coughing a lot for more than an hour, or 3 or more
                                        coughing episodes in 24 hours (if you usually have a cough, it may be worse than
                                        usual).
                                    </p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-xl-4">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-symptom-breath.png"
                                        alt="breath" width="130px" height="130px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>Shortness of breath</strong>
                                    <p class="text-justify">
                                        Difficulty breathing – Around 1 out of every 6 people who gets COVID-19 becomes
                                        seriously ill and develops difficulty breathing or shortness of breath.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="other-symptoms">
                            <h3 class="mb-3">Others Symptoms</h3>
                            <p class="text-justify">Some patients may have aches and pains, nasal congestion, runny
                                nose, sore throat or diarrhoea. These symptoms are usually mild & begin gradually. Some
                                people become infected but don’t develop any symptoms & don't feel unwell. Most people
                                (about 80%) recover from the disease without needing special treatment.</p>
                            <p>Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops
                                difficulty breathing. Older people, and those with underlying medical problems like high
                                blood pressure, heart problems or diabetes, are more likely to develop serious illness.
                            </p>
                        </div>
                        <p class="text-primary">These are for informational purposes only. Consult your local medical authority for advice. (Source: World Health Organization)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="protection-video">
                <video width="400" height="240" controls>
                    <source src="https://www.youtube.com/watch?v=bPITHEiFWLc&feature=youtu.be"type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </div>
            <div class="mt-4 mb-4">
                <h4>Symptoms and What to do</h4>
                <p class="text-warning text-danger">You must do not leave your home if you have any of coronavirus symptoms (a high temperature or a new, continuous cough) call your medical service.</p>
            </div>
            <div class="mt-4 mb-4">
                <h4>Stay at home to stop coronavirus spreading</h4>
                <p class="text-justify">
                    Everyone must stay at home to help stop the spread of coronavirus. You should only leave the house for very limited purposes:
                </p>
                  <ul>
                      <li>shopping for basic necessities, for example food and medicine, which must be as important.</li>
                      <li>one form of exercise a day, for example a run, walk, or cycle – alone or with members of your household</li>
                      <li>any medical need, including to donate blood, avoid or escape risk of injury or harm, or to provide care or to help a vulnerable person.</li>
                      <li>travelling for work purposes, but only where you cannot work from home.</li>
                  </ul>  
            </div>
            <div class="quick-links">
                <h4>Quick Links</h4>
                <p><a href="https://covidstat.info/faqs">Q&A of Coronavirus</a></p>
                <p><a href="https://covidstat.info/prevention">Prevantion of Coronavirus</a></p>
                <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Learn more on who.int</a></p>
            </div>
        </div>
    </div>
</div>