<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class=" col-md-6 col-sm-6 col-xs-12 heading">
                <h3><strong>COVID-19 Coronavirus - Preventation</strong></h3>
                <span>There's Currently no Vaccine to Prevent Coronavirus Disease (COVID-19).</span>
            </div>
        </div>
    </div>
</div>
<div class="container-md flex-container">
    <div class="row">
        <div class="col-xl-8 col-md-8 col-sm-8 col-xs-12">
            <div class="card card-1">
                <div class="card-body">
                    <div class="alert alert-danger alert-icon">
                        <!-- <em class="icon ni ni-help-alt"></em> -->
                        <strong>
                            <span class="text-justify"> If you develop a fever, cough, and have difficulty breathing,
                                promptly seek medical care.
                                Call in advance and tell your health provider as soon as possible for medical
                                advice.
                            </span>
                        </strong>
                    </div>
                    <div class="symptoms mt-4 mb-2">
                        <h3 class="text-primary"><strong> How to Protect Yourself? </strong></h3>
                        <p class="text-justify"><strong>The best way to prevent illness is to avoid being exposed to
                                this virus.</strong>As there is not vaccine to prevent so you can protect yourself and
                            help prevent spreading the virus to others if you do as below instruction.</p>
                        <!-- <h3 class="mt-4 mb-4">Major & Common Symptoms</h3> -->
                        <div class="symptoms-details mt-4 mb-4">
                            <div class="row mb-1">
                                <div class="col-xl-4 mt-3">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-prevent-washing.png"
                                        alt="prevent-washing" width="160px" height="150px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>
                                        <h5>Wash your hands frequently</h5>
                                    </strong>
                                    <p class="text-justify">Regularly and thoroughly clean your hands with an
                                        alcohol-based hand rub or wash them with soap and water for at least 20 seconds.
                                    </p>
                                    <p><strong>Why? </strong>Washing your hands with soap and water or using
                                        alcohol-based hand rub kills viruses that may be on your hands.</p>
                                </div>
                            </div>

                            <div class="row mb-1 mt-3">
                                <div class="col-xl-4 mt-3">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-prevent-distance.png"
                                        alt="cough" width="160px" height="150px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>
                                        <h5> Maintain social distancing </h5>
                                    </strong>
                                    <p class="text-justify">Maintain at least 1 metre (3 feet) distance between yourself
                                        & anyone who is coughing or sneezing. If you are too close, you get chance to
                                        get infected.
                                    </p>
                                    <p><strong>Why? </strong> When someone coughs or sneezes they spray small liquid
                                        droplets from their nose or mouth which may contain virus. If you are too close,
                                        you can breathe in the droplets, including the COVID-19 virus if the person
                                        coughing has the disease.
                                    </p>
                                </div>
                            </div>

                            <div class="row mb-1 mt-3">
                                <div class="col-xl-4 mt-3">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-prevent-touch.png"
                                        alt="breath" width="160px" height="150px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>
                                        <h5> Avoid touching face </h5>
                                    </strong>
                                    <p class="text-justify">Do not touch your eyes, nose or mouth if your hands are not
                                        clean.
                                    </p>
                                    <p><strong>Why? </strong> Hands touch many surfaces and can pick up viruses. Once
                                        contaminated, hands can transfer the virus to your eyes, nose or mouth. From
                                        there, the virus can enter your body and can make you sick.
                                    </p>
                                </div>
                            </div>

                            <div class="row mb-1 mt-3">
                                <div class="col-xl-4 mt-3">
                                    <img class="rounded-circle"
                                        src="https://covidstat.info/static/images/gfx/covid-prevent-hygiene.png"
                                        alt="breath" width="160px" height="150px">
                                </div>
                                <div class="col-xl-8">
                                    <strong>
                                        <h5> Practice respiratory hygiene </h5>
                                    </strong>
                                    <p class="text-justify">Make sure you, & the people around you, follow good
                                        respiratory hygiene. This means covering your mouth & nose with your bent elbow
                                        or tissue when you cough or sneeze.
                                    </p>
                                    <p><strong>Why? </strong> Droplets spread virus. By following good respiratory
                                        hygiene you protect the people around you from viruses such as cold, flu and
                                        COVID-19.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="text-primary">These are for informational purposes only. Consult your local medical
                            authority for advice. (Source: World Health Organization)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="protection-video">
                <video width="400" height="240" controls>
                    <source src="https://www.youtube.com/watch?v=bPITHEiFWLc&feature=youtu.be" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="mt-4 mb-4">
                <h4 class="text-primary">Take steps to protect others</h4>
                <p class="text-justify">
                    There are things you can do to help reduce the risk of you and anyone you live with getting ill with
                    virus.
                </p>
                <ul>
                    <!-- <i class="far fa-check-circle"></i> -->
                    <li><strong>Stay home if you’re sick –</strong> Stay home if you are sick, except to get medical
                        care.
                    </li>
                    <li><strong>Cover your mouth & nose –</strong> with a tissue when you cough or sneeze.
                    </li>
                    <li><strong>Wear a facemask if you are sick –</strong> You should wear a facemask when you are
                        around other people (e.g., sharing a room or vehicle) and before you enter a healthcare
                        provider’s office.
                    </li>
                    <li><strong>Clean AND disinfect frequently touched surfaces daily – </strong> This includes phones,
                        tables, doorknobs, light switches, handles, desktops, countertops, toilets etc
                    </li>
                    <li><strong>Stay informed about the local COVID-19 situation – </strong> Get up-to-date information
                        about local COVID-19 activity from public health officials.
                    </li>
                </ul>
            </div>
            <div class="quick-links">
                <h4>Quick Links</h4>
                <p><a href="https://covidstat.info/faqs">Q&A of Coronavirus</a></p>
                <p><a href="https://covidstat.info/prevention">Prevantion of Coronavirus</a></p>
                <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Learn more on who.int</a>
                </p>
                <p><a href="https://safety.google/intl/en_in/securitytips-covid19/">Avoid COVID-19 online scams</a>
                </p>
            </div>
        </div>
    </div>
</div>